#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid ol{
  padding-left:33px;
}
#article{
  padding-left:25px;
}
body{
  margin:0;
}
a {
  color: black;
  text-decoration: none;
}
h1 {
  font-size: 30px;
  text-align: center;
  border-bottom:2px solid black;
  margin-top: 0;
  margin-bottom:50px;
  padding:25px;
}
h2 {
  margin-top: 70px;
  font-size: 45px;
  text-align: center;
}
.bodytext1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 70px;
}
.body2 {
  font-size: 25px;  
  background-color: #F5F5F5;
  text-align: center;
}

ol {
  border-right:1px solid gray;
  width:100px;
  margin:0;
  padding:20px
}
#btn1 {
  border-right:1px solid gray;
  width:153px;
}
#btn1 input[type="button"]{
  background-color: white;
  cursor: pointer;
}
#btn1 input[type="button"]:hover{
    color: white;
    background-color: darkgreen;
}
/*
@media(max-width:800px)
{
  #grid{
    display:block;}
  #btn1{
    border-right:none;
    }
  ol{
    border-right:none;}
  h1{
    border-bottom:none;}
}
*/
